<div class="container pd-4 mx-auto pu-4 mt-3">
    <div class="row">
        <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header mt-1">
                <h1>Registrar nuevo usuario</h1>
            </div>
            <div class="card-body">
                <form action="/register" method="POST">
                    <div class="form-group">
                        <input type="text" name="usuario" placeholder="usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="contraseña" class="form-control ">
                    </div>
                    <div class="form-group">
                        <input type="text" name="permisos" placeholder="permisos" class="form-control ">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Registrar</button>
                    </div>
               </form>
            </div>
        </div>
    </div>
</div>
</div>